dontaudit fsck fsck:capability {sys_admin};
dontaudit hal_perf_default hal_perf_default:capability {sys_admin};
dontaudit hal_wifi_supplicant_default hal_wifi_supplicant_default:capability {sys_admin};
dontaudit healthd healthd:capability {sys_admin};
dontaudit msm_irqbalanced msm_irqbalanced:capability {sys_admin};
dontaudit netd netd:capability {sys_admin};
dontaudit ueventd ueventd:capability {sys_admin};
dontaudit vdc vdc:capability {sys_admin};
dontaudit toolbox toolbox:capability {sys_admin};
dontaudit vold_prepare_subdirs vold_prepare_subdirs:capability {sys_admin};
dontaudit init_panel init_panel:capability {sys_admin};
dontaudit netutils_wrapper netutils_wrapper:capability {sys_admin};
dontaudit thermal-engine thermal-engine:capability {sys_admin};
dontaudit netmgrd netmgrd:capability {sys_admin};
dontaudit time_daemon time_daemon:capability {sys_admin};
dontaudit sysinit sysinit:capability {sys_admin};
